@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    font-family: "Montserrat", sans-serif;
}

.header {
    margin: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header__icons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__search {
    cursor: pointer;
    position: absolute;
    left: 0;
}

.header__logo {
    cursor: pointer;
}

.header__icons-right {
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;
}

.nav__list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    flex-wrap: wrap;
}

@media (max-width: 390px) {
    .nav__list {
        flex-direction: column;
        align-items: center;
    }
}

.nav__link {
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav__link:hover {
    background-color: #f0f0f0;
    color: #2c5530;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 390px) {
    .card-section {
        flex-direction: column-reverse;
    }
}

.card-section--dark {
    color: white;
    background-color: #2A244B;
}

.card-section__text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 20px;
    flex: 1;
}

.card-section__text {
    position: static;
    bottom: 3rem;
    width: 90%;
}

@media (max-width: 390px) {
    .card-section__text {
        position: static;
    }
}

.card-section__image {
    /* flex: 1; */
    object-fit: cover;
    max-width: 35%;
}

@media (max-width: 390px) {
    .card-section__image {
        max-width: 100%;
    }
}



.features {
    width: 90%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.features__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 4rem;
    width: 100%;
    justify-items: center;
}

@media (max-width: 390px) {
    .features__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

.feature {
    max-width: 20rem;
    width: 100%;
}

.products {
    width: 90%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.products__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    gap: 30px;
    width: 100%;
}

@media (max-width: 390px) {
    .products__container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.product-card {
    width: 100%;
}

.product-card__title {
    margin-top: 1rem;
}

.product-card__image {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.product-card__price {
    font-weight: normal;
    margin-top: 0.5rem;
}

.product-card--wide {
    grid-column: span 2;
}

@media (max-width: 390px) {
    .product-card--wide {
        grid-column: span 1;
    }
}

/*

.features {
    width: 90%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.features__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.feature {
    max-width: 20rem;
}

.products {
    width: 90%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.products__container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 30px;
}

.product-card {
    width: 305px;
}

.product-card__title {
    margin-top: 1rem;
}

.product-card__image {
    max-width: 100%;
}

@media (max-width: 390px) {
    .product-card {
        width: 150px;
    }
}

.product-card__price {
    font-weight: normal;
    margin-top: 0.5rem;
}

.product-card--wide {
    width: 630px;
}

@media (max-width: 390px) {
    .product-card--wide {
        width: 305px;
    }
}

*/

.button {
    cursor: pointer;
    padding: 20px;
    border: none;
    width: fit-content;
    font-family: "Montserrat", sans-serif;
}

.button--dark {
    color: white;
    background-color: #494465;
}

.button--light {
    color: #2A254B;
    background-color: #F9F9F9;
}

.club {
    width: 90%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.form {
    display: flex;
}

.input {
    padding: 20px;
    border: none;
    /* min-width: 300px; */
    outline: none;
    font-family: "Montserrat", sans-serif;
}

.input--light {
    color: #2A254B;
    background-color: #F9F9F9;
}

.input--dark {
    color: white;
    background-color: #494465;
}

.footer {
    padding: 50px 5%;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #2A244B;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer__upper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.footer__lower {
    position: relative;
    display: flex;
    align-items: center;
}

.footer__icons {
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;
}

.footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
}

.footer__list-title {
    margin-bottom: 0.5rem;
}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}